@use "sass:math";
// @import "variables";
// @import "media";

$max-Width: 1400;
$min-Width: 360;

@mixin fluid-text($max: 56, $min: 16) {
  $maxViewportWidth: $max-Width;
  $minViewportWidth: $min-Width;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope-1: ($maxSize - $minSize);
  $slope-2: ($maxWidth - $minWidth);

  $slope: math.div($slope-1, $slope-2);
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}
