.search {
  $wh: 30px;
  $padding: 2.5px;

  padding: 50px 0;
  &__inner {
    margin: auto;
    max-width: 1400px;
  }

  &__wrapper {
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    margin: auto;
    padding: $padding;
    max-width: 300px;
    height: calc($wh + $padding * 2);
    background-color: white;
    border-radius: 1000px;
  }
  &__input {
    padding: 0 $wh 0 calc($padding * 2);
    width: 100%;
    height: $wh;
    // background-color: blue;
    border: 0;
    border-radius: 1000px;
  }
  &__button {
    position: absolute;
    right: $padding;

    background-color: transparent;
    border: 0;
    border-radius: 50%;
    // padding: 0;
    // $wh: 30px;

    width: $wh;
    height: $wh;
    // background-color: rgb(212, 212, 212);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/980px-Magnifying_glass_icon.svg.png);
  }
  &__button:hover {
    background-color: rgb(214, 214, 214);
    transition: all 300ms;
  }
}
